<header>
  <div class="container">
    <ul class="nav navbar-nav">
      {{#nav-link-to 'index'}}Home{{/nav-link-to}}
      {{#nav-link-to 'about'}}About{{/nav-link-to}}
      {{#nav-link-to 'contact'}}Contact{{/nav-link-to}}
    </ul>
  </div>
</header>

<div>
  {{outlet}}
</div>