<div class="container">
  <h1>Your questions, Answered*</h1>
</div>

{{#each model as |question|}}
  {{question-view entry=entry}}
{{/each}}

{{question-form saveQuestion="saveQuestion"}}










































<h6>* ...with the expertise of the internet. Sorry about that.</h6>
